<div id="franchise-show">
<h2><%= @franchise.name %></h2>
  <p>Medium: <%= @franchise.medium %></p>
  <p>Rating: <%= display_ratings %></p> 
  <p><%= display_user_rating %></p>
  <p><%= display_rating_link %></p>
</div>