<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="RateYourFav">
  <meta name="author" content="VictoriaMeng">
    <%= javascript_include_tag 'application' %>
    <title>RateYourFav</title>
    <h1>Rate Your Fav</h1>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <% if logged_in? %>
        <%= display_user_page_link %>
        <%= display_franchise_index_link %>
        <%= display_new_franchise_link %>
        <%= display_logout_link %>
      <% end %>
    </nav>
  </head>

  <body>
    <br>
    <%= display_errors(@user) %>
    <%= display_errors(@franchise) %>
    <%= display_errors(@rating) %>
    <%= display_flash_errors %>
    <br>
    <%= yield %>
  </body>
</html>
